.container
    h2 about sixteen clothing
    .row
        .col-lg-6
            .about
                
                p.p11 looking for the best products?
                p
                    a.a14(href="") This template
                    | is free to use for your business websites. However, you have no permission to redistribute the downloadable ZIP file on any template collection website.
                    a.a14(href="") Contact us
                    | for more info.
                ul
                    li 
                        a(href="") Lorem ipsum dolor sit amet
                    li
                        a(href="") Consectetur an adipisicing elit
                    li 
                        a(href="") It aquecorporis nulla aspernatur
                    li
                        a(href="") Corporis, omnis doloremque
                    li
                        a(href="") Non cum id reprehenderit
                a.uii(href="") read more
                
        .col-lg-6
            img.img-fluid(src="imgs/feature-image.jpg")
    .creative
        .row
            .col-lg-10.col-md-9
                h5 Creative & Unique 
                    span Sixteen
                    | Products
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.
            .col-lg-2.sec.col-md-3
                a.uii(href="") purchase now

