.navbar.n2
    .overlay
        .spinner
            .double-bounce1
            .double-bounce2 
    .navlogo 
        h3.ji SIXTEEN 
            span CLOTHING
    .navul
        ul.list-unstyled.sub2
            li 
                a(href="homepage.html") home
            li
                a(href="our.html") our prouducts
            li.active1
                a(href="aboutus.html") about us 
            li
                a(href="contact.html") contact us
        .ic.div8
            i.fas.fa-bars
        ul.sub1.list-unstyled
            li 
                a(href="homepage.html") home
            li
                a(href="our.html") our prouducts
            li.active2
                a(href="aboutus.html") about us 
            li
                a(href="contact.html") contact us
.header2
    h5 about us
    h1 OUR COMPANY
.container.thr
    h2 Our Background
    .row
        .col-lg-6.col-md-6
            img.img-fluid(src="imgs/feature-image.jpg")
        .col-lg-6.col-md-6
            .off
                h5 Who we are & What we do?
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis.
                ul.list-unstyled
                    li 
                        a(href="")
                            i.fab.fa-facebook
                    li 
                        a(href="")
                            i.fab.fa-twitter
                    li
                        a(href="")
                            i.fab.fa-linkedin
                    li  
                        a(href="")
                            i.fab.fa-behance
.container.fou
        h2 our team members
        .row.ttt
            .col-lg-4.col-md-4
                .jon
                    .jon1
                            img.img-fluid(src="imgs/team_01.jpg")
                            .lay
                                ul.list-unstyled
                                    li 
                                        a(href="")
                                            i.fab.fa-facebook
                                    li 
                                        a(href="")
                                            i.fab.fa-twitter
                                    li
                                        a(href="")
                                            i.fab.fa-linkedin
                                    li  
                                        a(href="")
                                            i.fab.fa-behance
                                
                    
                    p.text-center johny william<br>
                        span.text-center co-founder
                    p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.
            
            .col-lg-4.col-md-4
                .jon
                    .jon1
                            img.img-fluid(src="imgs/team_02.jpg")
                            .lay
                                ul.list-unstyled
                                    li 
                                        a(href="")
                                            i.fab.fa-facebook
                                    li 
                                        a(href="")
                                            i.fab.fa-twitter
                                    li
                                        a(href="")
                                            i.fab.fa-linkedin
                                    li  
                                        a(href="")
                                            i.fab.fa-behance
                    p.text-center karry pitcher<br>
                        span.text-center product expert
                    p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.
            .col-lg-4.col-md-4
                .jon
                    .jon1
                            img.img-fluid(src="imgs/team_03.jpg")
                            .lay
                                ul.list-unstyled
                                    li 
                                        a(href="")
                                            i.fab.fa-facebook
                                    li 
                                        a(href="")
                                            i.fab.fa-twitter
                                    li
                                        a(href="")
                                            i.fab.fa-linkedin
                                    li  
                                        a(href="")
                                            i.fab.fa-behance
                    p.text-center michael soft<br>
                        span.text-center chief marketing
                    p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.
        .row
            .col-lg-4.col-md-4
                .jon
                    .jon1
                            img.img-fluid(src="imgs/team_04.jpg")
                            .lay
                                ul.list-unstyled
                                    li 
                                        a(href="")
                                            i.fab.fa-facebook
                                    li 
                                        a(href="")
                                            i.fab.fa-twitter
                                    li
                                        a(href="")
                                            i.fab.fa-linkedin
                                    li  
                                        a(href="")
                                            i.fab.fa-behance
                    p.text-center Mary Cool<br>
                        span.text-center Product Specialist
                    p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.
            
            .col-lg-4.col-md-4
                .jon
                    .jon1
                            img.img-fluid(src="imgs/team_05.jpg")
                            .lay
                                ul.list-unstyled
                                    li 
                                        a(href="")
                                            i.fab.fa-facebook
                                    li 
                                        a(href="")
                                            i.fab.fa-twitter
                                    li
                                        a(href="")
                                            i.fab.fa-linkedin
                                    li  
                                        a(href="")
                                            i.fab.fa-behance
                    p.text-center George Walker<br>
                        span.text-center Product Photographer
                    p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.
            .col-lg-4.col-md-4
                .jon
                    .jon1
                            img.img-fluid(src="imgs/team_06.jpg")
                            .lay
                                ul.list-unstyled
                                    li 
                                        a(href="")
                                            i.fab.fa-facebook
                                    li 
                                        a(href="")
                                            i.fab.fa-twitter
                                    li
                                        a(href="")
                                            i.fab.fa-linkedin
                                    li  
                                        a(href="")
                                            i.fab.fa-behance
                    p.text-center Kate Town<br>
                        span.text-center General Manager
                    p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.
.customer
    .container
        .row
            .col-lg-4.col-md-4
                .set 
                    .dd
                        i.fas.fa-cog.fa-2x
                    h5.text-center product management
                    p.text-center Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.
                    a.text-center(href="") read more
            .col-lg-4.col-md-4
                .set 
                    .dd
                        i.fas.fa-cog.fa-2x
                    h5.text-center product management
                    p.text-center Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.
                    a.text-center(href="") details
            .col-lg-4.col-md-4
                .set 
                    .dd
                        i.fas.fa-cog.fa-2x
                    h5.text-center product management
                    p.text-center Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia quaerat.
                    a.text-center(href="") read more
.par
    .container
        h2 happy partner
        .row
            
            .col-lg-2.fasl.d-md-none.d-lg-block.col-sm-12
                .sora
                    a(href="")
                        img(src="imgs/client-01.png")
            .col-lg-2.fasl.d-md-none.d-lg-block.d-sm-none.d-md-block.d-none.d-sm-block
                .sora
                    a(href="")
                        img(src="imgs/client-01.png")
            .col-lg-2.fasl.col-md-4.d-sm-none.d-md-block.d-none.d-sm-block
                .sora
                    a(href="")
                        img(src="imgs/client-01.png")
            .col-lg-2.fasl.col-md-4.d-sm-none.d-md-block.d-none.d-sm-block
                .sora
                    a(href="")
                        img(src="imgs/client-01.png")
            .col-lg-2.fasl.col-md-4.d-sm-none.d-md-block.d-none.d-sm-block
                .sora
                    a(href="")
                        img(src="imgs/client-01.png")
            
    


