.navbar
    .navlogo 
        h3 SIXTEEN 
            span CLOTHING
    .navul
        ul.list-unstyled
            li 
                a(href="") home
            li
                a(href="our.html") our prouducts
            li
                a(href="aboutus.html") about us 
            li
                a(href="contact.html") contact us
        .ic.i.fas.fa-bars
.header1
    h5 new arrival
    h1 SIXTEEN PRODUCTS
