.navbar
    .navlogo 
        h3 SIXTEEN 
            span CLOTHING
    .navul
        ul.list-unstyled
            li 
                a(href="") home
            li
                a(href="our.html") our prouducts
            li
                a(href="aboutus.html") about us 
            li
                a(href="contact.html") contact us
        .ic.i.fas.fa-bars
.header2
    h5 about us
    h1 OUR COMPANY
.container.thr
    h2 Our Background
    .row
        .col-lg-6.col-md-6
            img.img-fluid(src="imgs/feature-image.jpg")
        .col-lg-6.col-md-6
            .off
                h5 Who we are & What we do?
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis.
                ul.list-unstyled
                    li 
                        a(href="")
                            i.fab.fa-facebook
                    li 
                        a(href="")
                            i.fab.fa-twitter
                    li
                        a(href="")
                            i.fab.fa-linkedin
                    li  
                        a(href="")
                            i.fab.fa-behance
.container.fou
        h2 our team members
        .row.ttt
            .col-lg-4.col-md-4
                .jon
                    img.img-fluid(src="imgs/team_01.jpg")
                    p.text-center johny william<br>
                        span.text-center co-founder
                    p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.
            
            .col-lg-4.col-md-4
                .jon
                    img.img-fluid(src="imgs/team_02.jpg")
                    p.text-center karry pitcher<br>
                        span.text-center product expert
                    p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.
            .col-lg-4.col-md-4
                .jon
                    img.img-fluid(src="imgs/team_03.jpg")
                    p.text-center michael soft<br>
                        span.text-center chief marketing
                    p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.
        .row
            .col-lg-4.col-md-4
                .jon
                    img.img-fluid(src="imgs/team_04.jpg")
                    p.text-center Mary Cool<br>
                        span.text-center Product Specialist
                    p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.
            
            .col-lg-4.col-md-4
                .jon
                    img.img-fluid(src="imgs/team_05.jpg")
                    p.text-center George Walker<br>
                        span.text-center Product Photographer
                    p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.
            .col-lg-4.col-md-4
                .jon
                    img.img-fluid(src="imgs/team_06.jpg")
                    p.text-center Kate Town<br>
                        span.text-center General Manager
                    p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing itaque corporis nulla.


