.navbar.n2
    .overlay
        .spinner
            .double-bounce1
            .double-bounce2 
    .navlogo 
        h3.ji SIXTEEN 
            span CLOTHING
    .navul
        ul.list-unstyled.sub2
            li 
                a(href="homepage.html") home
            li
                a(href="our.html") our prouducts
            li
                a(href="aboutus.html") about us 
            li.active1
                a(href="contact.html") contact us
        .ic.div8
            i.fas.fa-bars
        ul.sub1.list-unstyled
            li 
                a(href="homepage.html") home
            li
                a(href="our.html") our prouducts
            li
                a(href="aboutus.html") about us 
            li.active2
                a(href="contact.html") contact us
.header3
    h5 contact us
    h1 lets get in touch
.loc
    .container
        h2 our location on maps
        .row
            .col-lg-8.par2
                map
                    iframe(src= "https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d96748.15352429623!2d-74.25419879353115!3d40.731667701988506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sshopping+mall+in+New+York%2C+NY%2C+United+States!5e0!3m2!1sen!2sin!4v1467205237951" width="100%" height="330px" frameborder="0" style="border:0" allowfullscreen ="" )

            .col-lg-4.par1
                h4 About our office
                p Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur.
                p Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti.
                ul.list-unstyled
                    li
                        a(href="")
                            i.fab.fa-facebook
                    li
                        a(href="")
                            i.fab.fa-twitter
                    li
                        a(href="")
                            i.fab.fa-linkedin
                    li
                        a(href="")
                            i.fab.fa-behance
.container.fr
    h2 send us a message
    .row
        .col-lg-8.col-md-8
            form
                input(type="text" placeholder="full name")
                input(type="text" placeholder="Email Address")
                input(type="text" placeholder="subject")
                textarea(placeholder=" your message")
                a(href="") send a message

        .col-lg-4.g2.col-md-4
            h4 Accordion Title One
            p Lorem ipsum dolor sit amet, consectetur adipisic elit. Sed voluptate nihil eumester consectetur similiqu consectetur.
            p Lorem ipsum dolor sit amet, consectetur adipisic elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti elite.
            h5 Second Title Here
            h5 Accordion Title Three
            h5 Fourth Accordion Title
.par
    .container
        h2 our happy customers
        .row
            
            .col-lg-2.fasl.d-md-none.d-lg-block.col-sm-12
                .sora
                    a(href="")
                        img(src="imgs/client-01.png")
            .col-lg-2.fasl.d-md-none.d-lg-block.d-sm-none.d-md-block.d-none.d-sm-block
                .sora
                    a(href="")
                        img(src="imgs/client-01.png")
            .col-lg-2.fasl.col-md-4.d-sm-none.d-md-block.d-none.d-sm-block
                .sora
                    a(href="")
                        img(src="imgs/client-01.png")
            .col-lg-2.fasl.col-md-4.d-sm-none.d-md-block.d-none.d-sm-block
                .sora
                    a(href="")
                        img(src="imgs/client-01.png")
            .col-lg-2.fasl.col-md-4.d-sm-none.d-md-block.d-none.d-sm-block
                .sora
                    a(href="")
                        img(src="imgs/client-01.png")
     
           

                    