.products
    .container
        h2 Latest Products
            p view all products
                i.fas.fa-chevron-right
        .row.pro
            .col-lg-4.col-md-4
                .pro1
                    img(src="imgs/product_01.jpg")
                    .ff
                        h4 title goes here <br>
                            span $25.75
                    p Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur
                    .all
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        span.ss review(24)
            .col-lg-4.col-md-4
                .pro1
                    img.img-fluid(src="imgs/product_02.jpg")
                    .ff
                        h4 title goes here
                            span $30.25
                    p Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur
                    .all
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star 
                        span.ss review(21)
            .col-lg-4.col-md-4
                .pro1
                    img.img-fluid(src="imgs/product_03.jpg")
                    .ff
                        h4 title goes here
                            span $20.45
                    p Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur
                    .all
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        
                        span.ss review(36)
        .row.pro
            .col-lg-4.col-md-4
                .pro1
                    img(src="imgs/product_04.jpg")
                    .ff
                        h4 title goes here <br>
                            span $15.25
                    p Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur
                    .all
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        span.ss review(48)
            .col-lg-4.col-md-4
                .pro1
                    img.img-fluid(src="imgs/product_05.jpg")
                    .ff
                        h4 title goes here
                            span $12.50
                    p Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur
                    .all
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star 
                        span.ss review(16)
            .col-lg-4.col-md-4
                .pro1
                    img.img-fluid(src="imgs/product_06.jpg")
                    .ff
                        h4 title goes here
                            span $22.50
                    p Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur
                    .all
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        i.fas.fa-star
                        
                        span.ss review(32)