html
    head
        include pug/layout/styles
    body
        include pug/layout/navbar2
    
        
        include pug/layout/aboutusside 
        include pug/layout/copy
        include pug/layout/scripts