html
    head
        include pug/layout/styles
    body
        include pug/layout/navbar1
        
        include pug/layout/product
        include pug/layout/ourside
        include pug/layout/copy
        include pug/layout/scripts